td, tr {
	border: solid black 1px;
	padding: .5em;
}

.hidden {
	display: none;
}

#addItemForm {
	border: solid black 1px;
	border-radius: 20px;
	padding: 1em;
	width: 40%;
}

#uploadDiv {
    margin-top: 0.5em;
}