.sideBar {
    width: 15%;
    height: 100%;
    position: fixed;
    right: 0;
    top: 0;
    border-left: solid #000 4px;
    box-sizing: border-box;
    z-index: 1;
}

.SBfooter {
    position: absolute;
    bottom: 0;
    margin-bottom: 0.5em;
    width: 100%;
    text-align: center;
}

.SBmain {
    margin: 0.5em;
}