<div id="editItemDiv">
    <h1>Edit Item</h1>
<form id="editForm" class="editForm" data-id=<%= itemId %> action="/update">
<div id="inputs" class="inputs">

</div>
    <input type='submit' value='Submit' ></input>
</form>
<div id="outputDiv"></div>
</div>
