<div id="editItemDiv">
    <h1>Edit Item</h1>
<form id="editForm" class="editForm" data-id=<%= itemId %> action="/update">
<div id="inputs" class="inputs">

</div>
    <input type="submit" value="Submit" ></input>
    <button id="deleteBtn" data-id=<%= itemId %>>Delete</button>
</form>
<div id="outputDiv"></div>
</div>
