<div id="uploadDiv">
	<form id="uploadForm">
		<label for="file">Upload File</label>
		<input type="file" name="file" id="file" formencrypt="multipart/form-data"/>
	</p>
</form>
<form id="addItemForm" name="addItem" class="hidden">
	<span>ADD AN ITEM</span><br><br>
	<div id="addItem"></div>
	<input name="submit" type="submit" value="Submit Item"></input>
</form>
<br>
<div id="outputDiv"></div>
</div>