<div id="loginDiv" class="loginDiv">
    <img id="leftReel" src="images/moviereel.jpg" width="270" height="270"</img>
    <img id="rightReel" src="images/moviereel.jpg" width="270" height="270"</img>
    <form action="" method="POST" id="signInForm" class="signInForm">
        <p id="signText" class="centered">Sign in</p>
        <span "username">Username</span><br>
        <input type="text" name="username" placeholder="username" required></input><br><br>
        <span "password">Password</span><br>
        <input type="password" name="password" placeholder="password" required></input><br><br>
        <input id="loginSubmit" type="submit" name="submit" value="Login"></input>
        <button id="signupBtn" type="button">Sign Up</button>
        <a id="forgotLink" href="">Forgot password?</a>
    </form>
</div>