<div id="searchDiv">
	<h1>Search</h1>
	<form id="searchForm" class="searchForm" action="/search">
		<div id="inputs" class="inputs">
		</div>
		<div id="advInputs" class="inputs hidden">
		</div>
		<input type='submit' value='Search'></input><br>
		<span id="modeLink">
			<a id="advancedLink" href="#" class="advancedLink">Advanced Search</a>
			<a id="simpleLink" href="#" class="advancedLink hidden">Simple Mode</a>
		</span>
	</form>
	<div id="outputDiv"></div>
</div>
