<div id="SBmain"class="SBmain"><span>Username: <%= username %></span>
    <br>
    <a href="#" id="searchClick">Search</a><br>
    <a href="#" id="uploadClick">Upload</a><br>
    <a href="#" id="addMovie">Add to Collection</a>
</div>
<div id="SBfooter" class="SBfooter">
    <hr>
    <a href='' id="about">About this Page</a>
    <a href='' id="contact">Contact info</a>
    <a href='' id="help">Help</a>
</div>