<div id="SBmain"class="SBmain"><span>Username: <%= username %></span>
    <br>
    <a href="#" id="searchClick">Search</a><br>
    <a href="#" id="uploadClick">Upload</a><br>
    <a href="#" id="addMovie">Add to Collection</a><br>
    <a href="#" id="editForm">Edit form data settings</a></br>
    <a href="/angular" target="_blank" id="angular">Go AngularJS</a><br>
    <a href="/signout" id="signOut">Sign out</a>
</div>
<div id="SBfooter" class="SBfooter">
    <hr>
    <a href='' id="about">About this Page</a>
    <a href='' id="contact">Contact info</a>
    <a href='' id="help">Help</a>
</div>